@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
/*Заголовки — font-family: 'Arimo', sans-serif;*/
/*Основной текст — font-family: 'PT Serif', serif;*/

.goals-container__head-title {
    margin-top: 0;
    margin-bottom: 6px;
    text-align: left;
}

.goals-container__head-tip {
    font-size: 14px;
    margin-bottom: 1em;
}

.goals-container {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 2em;
}

.goals-container__body {
    font-size: 1.2em;
}

.goals-container tr:nth-child(2n):hover {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.897);
    text-shadow: none;
    transition: background-color 2s ease-in-out 1ms, color 2s ease-in 1ms;
    cursor: text;
}

.goals-container p {
    display: inline-block;
    margin-top: 10px;
}

.goals-container td {
    padding: 0 6px;
    vertical-align: top;
    text-align: center;
    line-height: 2px;
}

.goals-container tr:hover td {
    line-height: unset;
    transition: line-height 2s ease-in 1ms;
}

.goals-container__body img[alt] {
    width: 6em;
    height: 6em;
    border-radius: 2em;
}

.goals-container__body .hidden {
    visibility: hidden;
}

.info-links__container {
    width: 100%;
    font-size: 1.5em;
}

.info-links {
    min-width: 390px;
    width: 100%;
    height: 40vh;
    margin-bottom: 0.5em;
    box-shadow: 3px 1px 12px 1px rgba(0, 0, 0, 0.69);
}

.info-links:last-child {
    background-color: #FFFFFF;
}

.info-links:hover {
    transform: translate(-1em, -1em);
    transition: transform ease-in 500ms;
}

@media (max-width: 991px) {

    .goals-container__head-title,
    .goals-container__head-tip {
        text-align: center;
    }

}